:root{
    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: red;

}

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

.hidden{
    display: none;
}

#content-box, #difficulty-box{
    width: 600px;
    height: auto;
    border: 10px solid lightgray;
    border-radius: 10px;

    background-color: var(--primary-color);
    margin: 0 auto;
    margin-top: 60px;
}

#difficulty-box{
    display: inline-block;   
    padding: 5px;
    width: auto; 
}



/* Common Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 130px;
}
  
/* Easy Button */
.btn.easy {
    background-color: #4caf50; 
    color: white;
}
  
/* Medium Button */
.btn.medium {
    background-color: #f39c12; 
    color: white;
}
  
.btn.medium:hover {
    background-color: #d18e0d; 
}
  
/* Hard Button */
.btn.hard {
    background-color: #f44336;
    color: white;
}
  
.btn.hard:hover {
    background-color: #d32f2f; 
}

/* Silhouette Image Styling */
.silhouette {
    filter: brightness(0%);
}

#pokemon-image{
    width: 475px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Pokemon Informatino Styling */
#pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* pokemon  */
#pokemon-description {
    margin: 20px 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
}

/* Pokemon type styling */
#pokemon-types {
    margin-top: 10px;
}

.type-box {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

