/* Reuseable Styling */
:root{
    --primary-color: #ffffff;
    --secondary-color: #445361;
}

/* General Styling */
body {
    /* background: url(/assets/images/pokeball-background.jpg) no-repeat;
    background-size: cover; */
    font-family: "Raleway", sans-serif;
    color: var(--secondary-color);
    text-align: center;
}

/* Hidden Styling */
.hidden{
    display: none;
}

#content-box{
    width: 600px;
    height: auto;
    border: 6px solid lightgray;
    border-radius: 10px;

    background-color: white;
    margin: 0 auto;
    margin-top: 20px;
}

#score-box,
#difficulty-box {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin: 20px auto; 
    padding: 10px; 
    border-radius: 10px;
    background-color: var(--primary-color); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 450px;
    border: 6px solid lightgray;
}

.scores {
    margin: 10px;
    font-size: 18px;
    color: #333; 
    margin-bottom: 10px; 
}

#difficulty-box {
    margin-top: 20px; 
    flex-wrap: wrap; 
    gap: 10px;
}

/* Common Button Styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 130px;
}
  
/* Easy Button */
.btn.easy {
    background-color: #4caf50; 
    color: white;
}

.btn.easy:hover {
    background-color: #45a049; 
}
  
/* Medium Button */
.btn.medium {
    background-color: #f39c12; 
    color: white;
}
  
.btn.medium:hover {
    background-color: #d18e0d; 
}
  
/* Hard Button */
.btn.hard {
    background-color: #f44336;
    color: white;
}
  
.btn.hard:hover {
    background-color: #d32f2f; 
}

/* Silhouette Image Styling */
.silhouette {
    filter: brightness(0%);
}

#pokemon-image{
    width: 475px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Pokemon Information Styling */
#pokemon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* pokemon  */
#pokemon-description {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
}

/* Pokemon type styling */
#pokemon-types {
    margin-top: 10px;
}

.type-box {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#text-guess-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

#answer-box {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
}

/* submit section styling */
button[data-type="submit"] {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[data-type="submit"]:hover {
    background-color: #45a049; 
}

/* Unique Type Styling */
.grass {
    background-color: #78C850;
    color: #FFF;
}

.poison {
    background-color: #A040A0;
    color: #FFF;
}

.fire {
    background-color: #F08030; 
    color: #FFF; 
}

.water {
    background-color: #6890F0; 
    color: #FFF; 
}

.electric {
    background-color: #F8D030; 
    color: #FFF; 
}

.normal {
    background-color: #A8A878; 
    color: #FFF; 
}

.fighting {
    background-color: #C03028; 
    color: #FFF; 
}

.psychic {
    background-color: #F85888; 
    color: #FFF; 
}

.ground {
    background-color: #E0C068; 
    color: #FFF; 
}

.flying {
    background-color: #A890F0; 
    color: #FFF; 
}

.bug {
    background-color: #A8B820; 
    color: #FFF; 
}

.rock {
    background-color: #B8A038; 
    color: #FFF; 
}

.ghost {
    background-color: #705898; 
    color: #FFF; 
}

.ice {
    background-color: #98D8D8; 
    color: #FFF; 
}

.dragon {
    background-color: #7038F8; 
    color: #FFF; 
}

.dark {
    background-color: #705848; 
    color: #FFF; 
}

.steel {
    background-color: #B8B8D0; 
    color: #FFF; 
}

.fairy {
    background-color: #EE99AC; 
    color: #FFF; 
}